<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<% if(loggedIn) { %>
		<span>Logged in as: </span> <%= currentUser.name %>
		<a href="/users/profile/edit">Edit</a>
		<% } else { %>
			<a href="/users/login">Log In</a>
			<a href="/users/signup">Sign Up</a>
			<% } %>

	<div class="container">
		<%- body %>
	</div>
</body>
</html>